.box
  .topFhoto
    %h1.greeting
      Hello, I'm Naoki Nakajima
    %ul
      %li.details
        Back End Developer & UX/UI Designer



  .header
    %h2 Naoki Nakajima
    .header__navi
      %ul
        %li
          About
        %li
          Skills
        %li
          Portfolio
        %li
          Sns 
        %li
          Resume
        %li
          Contact



  .introduction
    .introduction__contents 
      .introduction__contents__title
        About 
      .introduction__contents__sentence
        群馬県出身で10年間飲食業に携わってきました。<br>
        コロナに直面し改めてどの業種をとってもITは必要不可欠な存在であることを気付かされエンジニアに転職を決意。<br>
        現在プログラミングの勉強しながら転職活動中。
      .introduction__contents__content
        .introduction__contents__content__photo
          =image_tag "宇宙1", alt: "自画像", size: "200x200"
        .introduction__contents__content__profs
          %dl.prof
            %dt 名前：
            %dd 中島 直樹  Nakajima Naoki         
            %dt 所在地：                 
            %dd 東京
            %dt 出身：                   
            %dd 群馬県
            %dt 趣味：
            %dd ファッション(JillSander)  音楽(Rock Techno)
            %dt お問い合わせ：            
            %dd champagnegoldsupermarket.79@gmail.com



  .skill
    .skill__title
      Skills
    .skill__contents
      %ul
        %li.html
          <canvas id="html" height="50" width="150"></canvas>
        %li.css
          <canvas id="css" height="50" width="150"></canvas>
        %li.rails
          <canvas id="rails" height="50" width="150"></canvas>
        %li.jquery
          <canvas id="jquery" height="50" width="150"></canvas>
        %li.python
          <canvas id="python" height="50" width="150"></canvas>
        %li.git
          <canvas id="git" height="50" width="150"></canvas>
        %li.docker
          <canvas id="docker" height="50" width="150"></canvas>
        %li.aws
          <canvas id="aws" height="50" width="150"></canvas>
        


  .portfolios
    .portfolios__title
      Portfolio
    .portfolios__contents
      %ul
        %li
          =image_tag "宇宙2", alt: "画像", size: "200x250"
          %p test <br> test
        %li
          =image_tag "地球", alt: "画像", size: "200x250"
        %li
          =image_tag "地球", alt: "画像", size: "200x250"


  .sns
    %ul
      %li.tweeter 
        Tweeter
      %li.fab.fa-twitter
        -#.stylesheet
          <a class="twitter-timeline" data-chrome=”noheader nofooter” data-lang="ja" data-width="250" data-height="300" data-theme="dark" href="https://twitter.com/Naoki_DieForYou?ref_src=twsrc%5Etfw"></a> 
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    %ul
      %li.github
        GitHub
      %li.fab.fa-github
    %ul
      %li.qiita
        Qiita
  .footer
    %small PortfoiloApp all rigths reserved